.menu1 {
    border: 1px solid gray;
    padding:5px 10px;
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
}
.menu2 {
    border: 1px solid gray;
    padding:5px 10px;
    text-decoration: none;
    background-color: tomato;
    color: white;
}